<div class="mt-2">
  <%= render "shared/search_bar" %>
  <div id='map' style='width: 100%; height: 75vh;'>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibWsxMTQ0IiwiYSI6ImNrejgwN3A2NDFmdTgycG8ybm53YXRkamgifQ.LqD6Dq31m0WExAV2hCP_OQ';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mk1144/cl12z7zcx001w15qojdqcyf54'
      });
    </script>
  </div>
</div>
