.navbar-bottom {
  background-color: $green;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
}
.navbar-list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.nav-link {
  text-decoration: none;
  color: white;
  padding: 0;
  font-size: 36px;
}
ul {
  margin: 0;
  padding: 0;
}
.navbar-content {
  width: -webkit-fill-available;
}
